html, body {
    margin: 0;
    color: #505050;
    line-height: 1.75em;
    background:#0084ff;
}

.a{
    text-decoration:none;
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
}

.main-header .branding {
    font-size: 3.5em;
    color: #303030;
}

.main-header .branding img {
    max-width: 100%;
}

.main-navigation {
    text-align: center;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
    border-bottom: 3px solid #e1e1e1;
    margin-bottom: 55px;
}

.main-navigation .menu {
    padding: 0;
    margin: 0;
}

.main-navigation .menu li.nav-current {
    border-bottom: 3px solid #5db9f8;
    border-bottom: -2px;
}

.main-navigation .menu li {
    list-style: none;
    display: inline-block;
    position: relative;
}

.main-navigation .menu li a {
    color: #505050;
    line-height: 5em;
    display: block;
    padding: 0 25px;
}

/**/
.pic-goods{
    position: relative;
}

.text-jg{
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
}

.text-sz{
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
}

.row-box{
    width: 1035px;
    height: 573px;

}

.tab-surprise{
    margin-top: 55px;
}

